<section class="CTA">
  <br>
  <% provide(:title, 'Sign up') %>
  <h1>Sign up</h1>

  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 form">
      <%= form_for(@user) do |f| %>
        <%= render 'shared/error_messages' %>

        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control state-danger-text' %><br><br>

        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control state-danger-text' %><br><br>

        <%= f.label :password_confirmation, "Confirmation" %>
        <%= f.password_field :password_confirmation, class: 'form-control state-danger-text' %><br><br>

        <%= f.submit "Create my account", class: "btn btn-primary" %>
      <% end %>

          <p>Already got an account? <%= link_to "Log in!", "/sessions/new" %></p>
    </div>
    <div class="col-md-4"></div>
  </div>

</section>
